.clearfix{
    clear: both;
}
.container{
    margin: 0 auto;
    width: 1170px;
}
.FirstBlock {
    height: 900px;
    width: 1600px;
    background-image: url("../img/Layer 21@1X.png");
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40pt;
    color: rgba(255, 255, 255, 255);
    text-align: left;
    margin: 0 331px 0 193px;
    padding-top: 531px;
}

.Paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    color: rgba(255,255, 255, 255);
    margin: 0 102px 0 193px;
}
.SecondPart {
    width: 900px;
    height: 95px;
    border: solid 2px white;
    text-transform: uppercase;
    font-size: 46pt;
    margin:  30px 0 0 193px;
    background-color:rgba(0, 0, 0, 0.3);
    padding: 25px 0 0 40px;
    font-family: 'Montserrat', sans-serif;
}
.slogan-text {
    color: yellow;
}
.slogan-text2 {
    color: white;
    padding-left: 40px;
}
.SecondBlock{
    height: 8030px;
    width: 1600px;
    background-image: url("../img/Layer 20@2X.png");
    margin: 0;
}
.SloganSecondBlock{
    text-transform: uppercase;
    padding-top: 72px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15pt;
    color: rgba(51, 51, 51, 255);
    text-align: center;
}
.SecondP{
    font-family: 'Lato', sans-serif;
    font-size: 17pt;
    color: rgba(77, 73, 67, 255);
    text-align: center;
}

.small-line{
    width: 65px;
    height: 3px;
    color: orange;
    margin: 60px 770px 0 770px;
    background-color: orange;
}
.content-secondP{
    text-align: center;
}
.logo{
    margin: 30px auto;
    margin-left: 0;
}
ul.UL li{
    display: inherit;
    text-transform: uppercase;
    font-size: 18pt;
    padding-left: 70px;

}
.big-line{
    margin: 60px auto;
    width: 870px;
    height: 3px;
    color: orange;
    background-color: orange;
}
.our-features{
    padding: 50px 0;
}
.features-cards{
    width: 50%;
    box-sizing: border-box;
    float: left;

}
.features-card{
    float: left;
    margin: 10px;
}
.img-title{
    padding: 15px 10px;
    background-color: #333333;
    width: 117px;
    font-size: 14px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: white;
}
.our-feature-description{
    float: right;
    width: 50%;
}
.btn{
    display: inline-block;
    background-color: orange;
    padding: 15px 10px;

}
.UL{
    display: inline-block;
}
.UL li:first-child {
    color: orange;
}
.pseudoelement:after {
    content: '\25BC';
    position: relative;
    font-size: 12px;
    top: -2px;
}
.Menu{
display: inline-block;
    text-transform: uppercase;
}
.speedometer {
    height: 380px;
    width: 1600px;
    background-image: url('../img/Layer 22@1X.png');
    margin-top: 5px;
}
.slogan-speed {
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    margin: 0 610px 0 605px ;
    padding-top: 150px;
}
.yellow{
    color: orange;
}
.StaffContainer {
    width: 1200px;
    height: 386px;
    margin: 70px auto;
}
.card {
    display: inline-block;
    position: relative;
    width: 193px;
    height: 178px;
}
.StaffName{
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 153px;
    height: 28px;
    background-color: darkslategrey;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0 0 15px;
}
.Name{
    color: white;
    font-size: 12pt;
}
.OptionText::before {
    display: block;
    content: '\1F4A1';
    font-size: 70px;
    margin-bottom: 50px;
}
.CompanyWork{
    width: 1200px;
    height: 586px;
    margin: 70px auto;
}
.Option{
    width: 271px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    text-align: center;
}
.OptionName{
    position: absolute;
    top: 10px;
    width: 271px;
    background-color: darkslategrey;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 0 0 15px;
    height: 56px;
    font-size: 18pt;
}
.OptionText{
    color: rgba(91, 91, 91, 255);
    font-size: 12pt;
    width: 271px;
    height: 100px;
    font-family: 'Lato', sans-serif;
    margin-top: 100px;

}
.middle-line{
    width: 270px;
    height: 3px;
    color: black;
    background-color: black;
    margin-top: 50px;
}
.small-line1{
    width: 65px;
    height: 3px;
    color: orange;
    margin: 150px 85px 0 100px;
    background-color: orange;
}
.OptionList{
    list-style:none;
    padding: 0;
}
.speedometer2{
    height: 475px;
    width: 1600px;
    background-image: url("../img/Layer 39@1X.png");
    margin-top: 5px;

}
.slogan-speed2 {
    padding-left: 70px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-transform: uppercase;
    margin: 0 610px 0 605px ;
    padding-top: 150px;
}
.logo {

    margin-left: 250px;
    width: 1600px;

}
.logo1 {
    background: url(https://s2.wp.com/wp-content/themes/vip/postmedia-theme-npfp/images/logo-header-np.svg);
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: inline-block;
    margin-top: 20px;
}
.logo2 {
    background: url(//dw1ixebl10gex.cloudfront.net/wp-content/themes/houseandhome/images/logo.png);
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 100px;
    margin-top: 15px;

}
.logo3 {
    background: url(//cdn.shopify.com/s/files/1/0014/7865/6057/files/Dryme_logo2_x33.png?v=1563316671);
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: inline-block;
    margin-left: 100px;
}
.logo4 {
    background: url(https://www.gojourny.com/assets/logo-white-f003582c38343573d69fd65d8fe66ebee8f1354cd9c68e443a33afe9a8b5d79b.png);
    width: 200px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    display: inline-block;
    margin-left: 100px;
}
.Opinions{
    width: 1200px;
    height: 286px;
    margin: 70px auto;
}
.OrangeMiddleLine {
    width: 300px;
    height: 3px;
    color: orange;
    background-color: orange;
    position: relative;
    margin-left: 70px;
    alignment: right;
}
.OrangeMiddleLine::before {
    content: '\275D';
    font-size: 130px;
    position: absolute;
    left: -80px;
    top: -55px;
}
.Opinion {
    width: 371px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    text-align: justify;
}
.OpinionText {
    color: rgba(91, 91, 91, 255);
    font-size: 10pt;
    width: 371px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    margin-top: 40px;
}
.middle-line2{
    width: 371px;
    height: 3px;
    color: black;
    background-color: black;
    margin-top: 25px;
    margin-bottom: 25px;
}
.signature{
    display: inline-block;
    font-size: 10pt;
    margin-left: 5px;
    padding-bottom: 5px;
    font-family: 'Lato', sans-serif;
    color: rgba(91, 91, 91, 255);
}
.names{
    color: rgba(49, 49, 49, 255);
}